.nav-bar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 20px;

  .nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    margin-left: 15px;

    img {
      width: 100%;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;

    .nav-link {
      font-size: larger;
      cursor: pointer;
      margin: 0 15px;
    }
  }
}
